node_modules
config.json
.local/
.cache/
.config/
.dotnet/
.npm/
.pki/
.steam/
.vscode/
Distributions/
.bash_history
.bash_logout
.bashrc
.node_repl_history
.profile
.sommelierrc
eslint.config.js
package-lock.json
package.json
.viminfo
.swp
.sudo_as_admin_successful
.steampath
.steampid
.Xauthority
*.txt
*.db
testing/
deploy-commands.js
admin/
